<div>
  <div class="row-content" *ngIf="!show">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>message</mat-icon></div>
        <mat-card-title>Chat App</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>Display Name :</h3>
        <mat-form-field appearance="fill">
          <mat-label>Enter Name:</mat-label>
          <input matInput #input [(ngModel)]="user" id="username" />
        </mat-form-field>
        <h3>Room :</h3>
        <mat-form-field appearance="fill">
          <mat-label>Choose room:</mat-label>
          <select
            matNativeControl
            name="roomInput"
            id="roomInput"
            [(ngModel)]="room"
          >
            <option value="" selected></option>
            <option value="Lobby">Lobby</option>
            <option value="Room1">Room 1</option>
            <option value="Room2">Room 2</option>
          </select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="accent"
          *ngIf="!show"
          type="button"
          class="btn btn-primary"
          (click)="join()"
        >
          Join
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="show">
    <div class="right-message">
      <button
        mat-icon-button
        color="warn"
        *ngIf="show"
        type="button"
        class="btn btn-default"
        (click)="leave()"
      >
        <mat-icon>highlight_off</mat-icon>
      </button>
    </div>
    <div class="row">
      <div style="height: 200px; padding: 15px">
        <span class="text-center"
          ><h1>Welcome {{ user }} to {{ room }} 🥳🎉</h1></span
        >
        <div
          *ngFor="let item of messageArray"
          style="padding-bottom: 15px"
          [ngClass]="{ 'right-message': user == item.user }"
        >
          <span
            ><h2>{{ item.user }} :</h2>
            <span class="chat-box">
              {{ item.message }}
            </span>
            <h6 class="time-at">Send at {{ item.sent_at }}</h6>
          </span>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<footer *ngIf="show">
  <p>
    <mat-toolbar>
      <mat-form-field>
        <mat-label>type your message...</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          [(ngModel)]="messageText"
        />
      </mat-form-field>

      <button
        mat-icon-button
        color="accent"
        type="button"
        (click)="sendMessage()"
      >
        <mat-icon>send</mat-icon>
      </button>
    </mat-toolbar>
  </p>
</footer>
