.right-message {
  text-align: right;
  /* float: right; */
  justify-content: flex-end;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: #ff4081;
  width: 100%;
}

.row-content {
  margin: 10%;
  /* outline: 2px deeppink dashed; */
}
.chat-box {
  /* border: 2px solid red; */
  font-size: large;
  background-color: #ff4081;
  color: white;
  padding: 10px;
  border-radius: 25px;
  display: inline;
}
.text-center {
  text-align: center;
  color: gray;
}
.time-at {
  padding-top: 10px;
}
